html, body { 
    background: url('../img/carquiz_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #003041;
}

.container {
    padding-top: 2rem;
}

span {
    color: #424f60;
}

.q_and_a {
/*    font-family: 'Open Sans', sans-serif;*/
    color: #f9b189;
}

.multiple-choice span{
/*    font-family: 'Open Sans', sans-serif;*/
    color: #f9b189;
}




@media screen and (max-width: 600px) {
    .html, body {
        font-size: 25px;

    }
    .container {
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    input[type='image'] {
        max-width: 330px;
    }
}





